:root {
  --primary-color: #fe9526;
  --secondary-color1: #00194c;
  --outer-details: #b1b1b1;
  --inner-details: #8d8c8c;
}

html {
  font-size: 18px;
}

.pagelayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainpage {
  color: #000;
  background-color: #fff;
  display: inline-block;
  position: relative;
  height: 100%;
  padding: 0.5rem;
  width: 100%;
}

.mainpage .pagetitle .desc {
  color: var(--outer-details);
}

.codetab {
  height: 2em;
}

.sidebar {
  color: #000;
  background-color: rgb(241, 241, 241);
  box-shadow: 3px 3px 3px rgb(97, 97, 97);
  height: 100vh;
}

.mobile-sidebar {
  color: #000;
  background-color: rgb(241, 241, 241);
  box-shadow: 3px 3px 3px rgb(97, 97, 97);
  z-index: 1;
  height: 100vh;
  width: 90vw;
}

.sidebar:hover {
  cursor: default;
}

.sidebar .section .menu a {
  color: #000;
  display: block;
}

.sidebar .section .menu .item:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.navbar {
  display: block;
  width: 100vw;
}

/*Mobile Devices*/

@media screen and (max-width: 449px) {
  .pagelayout {
    display: block;
  }

  .mobile-sidebar {
    width: 100vw;
    z-index: 2;
    height: 100vh;
    padding: 0.5em;
  }

  .mainpage {
    width: 100vw;
    height: 100%;
  }

  .mainpage .pagetitle .title {
    font-size: 1.2rem;
  }

  .mainpage .pagetitle .desc {
    font-size: 0.8rem;
  }

  .mobile-sidebar .section .header {
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    line-height: 25px;
  }

  .mobile-sidebar .section .menu .item {
    font-size: 0.76rem;
  }
}

/*Mini Ipads, etc.*/

@media screen and (min-width: 450px) and (max-width: 767px) {
  .pagelayout {
    display: block;
  }

  .mobile-sidebar {
    height: 100vh;
    width: 75vw;
    padding: 0.75em;
    z-index: 2;
  }

  .mainpage {
    width: 100vw;
    height: 100vh;
    display: block;
  }

  .mainpage .pagetitle .title {
    font-size: 1.15rem;
  }

  .mainpage .pagetitle .desc {
    font-size: 0.9rem;
  }

  .mobile-sidebar .section .header {
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    line-height: 25px;
  }

  .mobile-sidebar .section .menu .item {
    font-size: 0.85rem;
  }
}

/*Tablets and mini-PCs*/

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .sidebar {
    height: 100vh;
    width: 25vw;
    padding: 0.85em;
  }

  .mainpage {
    width: 75vw;
    height: 100vh;
  }

  .mainpage .pagetitle .title {
    font-size: 1.25rem;
  }

  .mainpage .pagetitle .desc {
    font-size: 0.9rem;
  }

  .sidebar .section .header {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 25px;
  }

  .sidebar .section .menu .item {
    font-size: 0.9rem;
  }

  .sidebar .section .menu .item:active {
    color: var(--primary-color);
  }
}

/*Desktops and Computers*/

@media only screen and (min-width: 1300px) {
  .sidebar {
    height: 100vh;
    width: 20vw;
    padding: 1em;
  }

  .mainpage {
    width: 80vw;
    height: 100vh;
  }

  .mainpage .pagetitle .title {
    font-size: 1.3rem;
  }

  .sidebar .section .header {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 25px;
  }

  .mainpage .pagetitle .desc {
    font-size: 1.1rem;
  }

  .sidebar .section .menu .item {
    font-size: 1 rem;
  }
}
